body{
	background-color:#eee;
}

h1{
	text-align:center;
}

img{height: 170px}

.container{
	width:960px; 
	height:450px; 
	margin:60px auto; 
	position:relative;
}

.container img{
	padding:10px 10px 15px;
	background:white; 
	border:1px solid #ddd; 
	box-shadow:2px 2px 3px rgba(50, 50, 50, 0.4);
	-webkit-transition:all 0.5s ease-in;			 /*chrome、Safari*/
	-moz-transition:all 0.5s ease-in;				 /*Firefox*/
	transition:all 0.5s ease-in;                     /*元素由样式1转换到样式2需要的时间，加在基本元素上*/
	position:absolute; 
	z-index:1;										 /*元素的上下层设置，值越大越靠前*/
}

.container img:hover{
	box-shadow:15px 15px 20px rgba(50, 50, 50, 0.4);   /* x轴偏移 y轴偏移*/
	-webkit-transform:rotate(0deg) scale(1.20); 
	-moz-transform:rotate(0deg) scale(1.20); 
	transform:rotate(0deg) scale(1.20);             /* rotate旋转角度，scale缩放倍数，skew扭曲元素*/
	z-index:2;
}

.pic1{
	left: 400px; 
	top: 0; 
	-webkit-transform: rotate(-5deg); 
	-moz-transform: rotate(-5deg); 
	transform: rotate(-5deg);
}

.pic2{
	top: 0; 
	left: 600px; 
	-webkit-transform: rotate(-20deg); 
	-moz-transform: rotate(-20deg); 
	transform: rotate(-20deg);
}

.pic3
{
	bottom: 0; 
	left: 750px;
	-webkit-transform: rotate(5deg); 
	-moz-transform: rotate(5deg); 
	transform: rotate(5deg);
}
	
.pic4
{
	bottom:0; 
	left:350px;
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	transform: rotate(-10deg);
}

.pic5
{
	bottom: 0; 
	left: 0; 
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	transform: rotate(-10deg);
}

.pic6
{
	top: 0; 
	left:0; 
	-webkit-transform: rotate(10deg); 
	-moz-transform: rotate(10deg); 
	transform: rotate(10deg);
}

.pic7
{
	top: 70px;
	left: 800px;
	-webkit-transform: rotate(20deg); 
	-moz-transform: rotate(20deg); 
	transform: rotate(20deg);
}

.pic8
{
	bottom: 50px;
	right: 600px;
	-webkit-transform: rotate(5deg); 
	-moz-transform: rotate(5deg); 
	transform: rotate(5deg);
}

.pic9
{
	top: 150px;
	left: 550px; 
	-webkit-transform: rotate(15deg); 
	-moz-transform: rotate(15deg); 
	transform: rotate(15deg);
}

.pic10
{
	left:180px; 
	top:50px;
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	transform: rotate(-10deg);
}